# Сборки
/target/
/build/
/out/
*.jar
*.war
*.ear

# IDE
/.idea/
/.classpath
/.project
/.settings/
*.iml
*.ipr
*.iws

# Системные файлы
.DS_Store
Thumbs.db

# Логи
*.log

# Файлы сервера
/server/
/plugins/
/world*/
